<clr-header class="header">
  <div class="branding">
    <span class="module_name title"> {{ moduleName }}</span>
  </div>
  <div class="header-nav hide-for-print">
    <ng-container *ngFor="let item of routesMap">
      <a
        [routerLink]="getRouteLinkFromMap(item.key)?.routePath"
        routerLinkActive="active"
        class="nav-link nav-text"
        >{{ getRouteLinkFromMap(item.key)?.routeDescription }}</a
      >
    </ng-container>
  </div>
  <div class="header-actions hide-for-print" *ngIf="username">
    <clr-dropdown>
      <button
        class="nav-text"
        clrDropdownTrigger
        aria-label="open user profile"
      >
        {{ username }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="actionLogout($event)" clrDropdownItem>Se Déconnecter</a>
      </clr-dropdown-menu>
    </clr-dropdown>
    <!-- Add modules loader -->
  </div>
</clr-header>
